<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Mensoft.Facturacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Mensoft.Facturacion.Properties.Settings>
			<setting name="Mensoft_Facturacion_facturacion_prod_StampSOAP"
			 serializeAs="String">
				<value>https://facturacion.finkok.com/servicios/soap/stamp</value>
			</setting>
			<setting name="Mensoft_Facturacion_facturacion_test_StampSOAP"
			 serializeAs="String">
				<value>https://demo-facturacion.finkok.com/servicios/soap/stamp</value>
			</setting>
		</Mensoft.Facturacion.Properties.Settings>
	</applicationSettings>
</configuration>